<!-- Header hero image -->
<div class="page-hero" style="background-image: url(<%= asset_path('welding.jpg') %>);" >
	<div class="container">
		<div class="row">

		</div>
	</div>
</div>

<div class="dark-blue">
	<div class="blue-circle">
		<h5>New</h5>
		<%= image_tag "line_art/wheel.png" %>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h4>New Project</h4>
			</div>
			<%= render "form" %>
		</div>
	</div>
</div>