/*********** CUSTOM CSS ***************/
// Overall formatting
body {
	color: #fff;
}

// Sections

.hero {
	width: 100%;
	background-size: cover;
	height: 100vh;
	min-height: 500px;
	position: relative;
	// margin-top: -150px;
	background-attachment: fixed;
   background-position: top;
   text-align: center; 
   padding-top: 15%;
}

.dark-blue {
	background-color: #0d283b;
	position: relative;
}

.contact {
	width: 100%;
	background-size: cover;
	min-height: 500px;
	position: relative;
	// margin-top: -150px;
	background-attachment: fixed;
   background-position: top; 

   input {
   	margin-top: 15px;
   }
   textarea {
   	margin-top: 15px;
   }

   iframe {
   	width: 100%;
   	height: 200px;
   }
}

// Navigation
.navbar {
	text-transform: uppercase;
	margin-top: 50px;

	transition: 1s;
}
.navbar-brand {
	font-family: Rye, serif;
	font-size: 1.5em;
	color: #fff;
}

// Typography
.hero {
	h3 {
		color: $brand-primary;
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
	}

	p {
		font-size: 1.5em;
		line-height: 2.0em;
	}

	.btn {
		margin-top: 30px;
	}
}

h4 {
	color: $brand-primary;
	font-family: $font-family-sans-serif;
}

// Wheel type
h5 {
	font-variant: small-caps;
	font-family: $font-family-serif;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
}

p {
	line-height: 1.75em;
}

.centered {
	text-align: center;
}

// Bootstrap Modifications
.btn-default {
	transition: background-color 1s;
}
.btn-default:hover {
	background-color: rgba(52, 159, 235, 0.7);
	transition: 1s;
}

.row {
	margin-top: 110px;
	margin-bottom: 100px;
}

#footer {
	margin-top: 0;
	margin-bottom: 20px;
}

// Components
.blue-circle {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: absolute;
	top: -90px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #0d283b;
	z-index: 100;
	padding: 20px;

	img {
		opacity: 0.1;
		width: 100%;
	}
}

.service-img {
	width: 100%;
	margin: 0 0 20px 0;
}