/*********** CUSTOM CSS ***************/
// Overall formatting
body {
	color: #fff;
}

.hero {
	width: 100%;
	background-size: cover;
	height: 100vh;
	min-height: 500px;
	position: relative;
	// margin-top: -50px;
	background-attachment: fixed;
   background-position: top;
   text-align: center; 
   padding-top: 15%;
}

// Navigation
.navbar {
	text-transform: uppercase
}
.navbar-brand {
	font-family: Rye, serif;
	font-size: 1.5em;
	color: #fff;
}

// Typography
.hero {
	h3 {
		color: $brand-primary;
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
	}

	p {
		font-size: 1.5em;
		line-height: 2.0em;
	}

	.btn {
		margin-top: 30px;
	}
}

// Bootstrap Modifications

.btn-default:hover {
	background-color: rgba(52, 159, 235, 0.7);
}