<div class="hero" style="background-image: url(<%= asset_path('welding.jpg') %>);" >
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<h3>Custom Motorcycles</h3>
				<p>A one stop shop. From fabrication to paint to general maintenance.</p>
				<%= link_to "Contact Us", "#", class: "btn btn-default btn-lg" %>
			</div>
		</div>
	</div>
</div>